<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    ex02화면<br>
    <a href="redirect">리다이렉트</a><br>
    <a href="redirectHome">홈 화면으로 리다이렉트 보내는 코드</a>
    <form action="param" method="post">
        ID:<input type="text" name="id"><br>
        PW:<input type="password"><br>
        NAME:<input type="text" name="name"><br>
        관심종목:
        <input type="checkbox" name="inter">축구
        <input type="checkbox" name="inter">야구
        <input type="checkbox" name="inter">농구
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>